.fontStyle {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.custom-height {
  height: 70%;
}

.custom-card {
  height: 300px;
}

.custom-card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 40px 0;
}

.footer-section {
  padding: 20px;
}

.brand-logo {
  width: 150px;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.social-icons a {
  color: #ffffff;
  margin-right: 15px;
}

.online-platforms {
  list-style: none;
  padding: 0;
}

.online-platforms li {
  display: inline-block;
  margin-right: 15px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-input {
  flex: 80%;
  margin-right: 10px;
}

.newsletter-button {
  flex: 20%;
}

.card {
  overflow: hidden;
  position: relative;
}

.card-img-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.background-container {
  background-image: url('/images/leaf.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40vh;
  padding-top: 80px;
}

.navbar {
  background: transparent;
}

.about-section {
  text-align: center;
  padding: 50px 0;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-right: -80px;
  margin-left: 200px;
  /* if you removing the black background remove this also*/
  margin-top: 80px;
  z-index: 2;
}

.company-image {
  z-index: 1;
}

.team-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.team-card:hover {
  transform: scale(1.05);
}